########################################
## Ignore Idea folder
#######################################
.idea/

########################################
## Ignore Linux mind .directory archive
#######################################
.directory