########################################
## Ignore Idea folder
#######################################
.idea/

########################################
## Ignore Linux mind .directory archive
#######################################
.directory

########################################
## Ignore Linux mind .directory archive
#######################################
.c9/
